#advance-input {
    p.is-editor-empty:first-child::before {
        color: #717680;
        content: attr(data-placeholder);
        float: left;
        height: 0;
        pointer-events: none;
    }
    .ProseMirror-focused {
        border-radius: 20px;
        outline: none;
        border-color: #2d7cfb;
    }
    .math-node {
        pointer-events: none;
    }
    .ProseMirror {
        min-height: auto !important;
    }
}
