.fill-drag-drop-editor {
  #quiz-studio-editor {
    align-items: start !important;
    justify-content: start !important;
    
    .tiptap-wrapper-1 {
      align-items: start !important;
      justify-content: start !important;
    }
    
    .ProseMirror p {
      align-items: start !important;
      justify-content: start !important;
    }
  }
} 